{% for category in categories %}
  <div class="ui bottom attached tab segment asset_content_div category_tab_content category_tab_content_{{ category|safe }}" data-tab="{{ category|safe }}">
    <div class="ui items">
      <div class="item asset_item official" onclick="handleClickAssetTemplate(null)">
        <div class="ui tiny image">
          <img src="https://s3-us-west-1.amazonaws.com/desktophero/thumbnails/none.jpg">
        </div>
        <div class="content">
          <a class="header">None</a>
          <div class="meta">
            <p></p>
            <p><b>Author: </b></p>
          </div>
          <div class="extra">
            <p><b>License: </b></p>
          </div>
        </div>
      </div>

      {% for asset in user_assets %}
        {% if asset.category_safe == category %}
          <div class="item asset_item {{ asset.library|safe }} user_asset" onclick="handleClickAssetTemplate('{{ asset.id }}')">
            <div class="ui tiny image">
              <img src="{{ asset.thumbnail.url }}">
            </div>
            <div class="content">
              <a class="header">{{ asset.name|safe|title }}</a>
              <div class="meta">
                <p>{{ asset.description|safe }}</p>
                <p><b>Author: </b>{{ asset.author|safe }}</p>
                <!-- {{ asset.id|safe }} -->
              </div>
              <div class="extra">
                <p><b>License: </b>{{ asset.license|safe }}</p>
              </div>
              <div>
                  <form id="form_unpublish_{{ asset.id }}" method="post" class="ui form">
                    {% csrf_token %}
                    <input type="hidden" name="asset_id" value="{{ asset.pk }}">
                    <input type="hidden" name="publish" value="no">
                    <input type="submit" value="Unpublish" class="ui button"/>
                  </form>
                  <form id="form_publish_{{ asset.id }}" method="post" class="ui form">
                    {% csrf_token %}
                    <input type="hidden" name="asset_id" value="{{ asset.pk }}">
                    <input type="hidden" name="publish" value="yes">
                    <input type="submit" value="Publish" class="ui primary button"/>
                  </form>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      {% for entry in asset_uploads %}
        {% if entry.category_safe == category %}
          {% if entry.status != "complete" %}
            <div class="item entry_upload">
              <div>
                {% if entry.status == "error" %}
                  <i class="huge red warning sign icon processing_icon"></i>
                {% else %}
                  <i class="huge grey hourglass half icon processing_icon"></i>
                {% endif %}
              </div>
              <div class="content">
                <a class="header">{{ entry.name|safe|title }} - Processing</a>
                <div class="meta">
                  <p>{{ entry.description|safe }}</p>
                  <p><b>Processing Status: </b>{{ entry.status|safe|title }}</p>
                  <p><b>Processing Date: </b>{{ entry.processing_started }}</p>
                  <!-- {{ entry.id|safe }} -->
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% for asset in assets %}
        {% if asset.category_safe == category %}
          <div class="item asset_item {{ asset.library|safe }}" onclick="handleClickAssetTemplate('{{ asset.id }}')">
            <div class="ui tiny image">
              <img src="{{ asset.thumbnail.url }}">
            </div>
            <div class="content">
              <a class="header">{{ asset.name|safe|title }}</a>
              <div class="meta">
                <p>{{ asset.description|safe }}</p>
                <p><b>Author: </b>{{ asset.author|safe }}</p>
                <!-- {{ asset.id|safe }} -->
              </div>
              <div class="extra">
                <p><b>License: </b>{{ asset.license|safe }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}


<style>
  .asset_content_div {
    height: calc(100% - 14px);
    overflow-y: scroll;
  }

  .asset_item {
    cursor: pointer;
    padding: 5px !important;
  }

  .official {

  }

  .user_gen {
    /*background: #D6DBDF !important;*/
  }

  .user_asset {
    background: #D6DBDF !important;
    padding: 10px !important;
  }

  .entry_upload {
    background: #D6DBDF !important;
    padding: 10px !important;
  }

  .processing_icon {
    margin: 17px !important;
  }
</style>

<script>
  $('form').each(function(){
    $(this).submit(function(e){
      $.post("/resources/contribute/publish_asset/", $(this).serialize(), function(data){
        console.log(data);
        if (data["success"]){
          console.log("Asset published? " + data["published"]);
          if (data["published"]){
            $('#form_publish_' + data["asset_id"]).hide();
            $('#form_unpublish_' + data["asset_id"]).show();
          } else {
            $('#form_publish_' + data["asset_id"]).show();
            $('#form_unpublish_' + data["asset_id"]).hide();
          }
        } else {
          console.error("Failed to publish/unpublish asset.");
        }
      });
      e.preventDefault();
    });
  });

  {% for asset in user_assets %}
    {% if asset.published %}
      $('#form_publish_{{ asset.id }}').hide();
    {% else %}
      $('#form_unpublish_{{ asset.id }}').hide();
    {% endif %}
  {% endfor %}

  {% for category in categories %}
    console.log("{{category}}")
  {% endfor %}

//  console.log("{{categories}}");
// {% for asset in assets %}
//   console.log("{{asset.category_safe}}");
// {% endfor %}
  function hideAssetTabs(){
    $('.category_tab').hide();
    //$('.category_tab_content').removeClass('active');
  }

  function showAssetTab(category){
    $('.category_tab_' + category).show();
  }

  function setActiveAssetTab(category){
    $('.category_tab_' + category).addClass('active');
    $('.category_tab_content_' + category).addClass('active');
  }
</script>