<div class="ui top attached tabular menu inverted">
  {% for category in categories %}
    <a class="item category_tab category_tab_{{ category|safe }}" data-tab="{{ category|safe }}">{{ category|safe }}</a>
  {% endfor %}
</div>
<div class="asset_content_div">
  {% for category in categories %}
    <div class="ui bottom attached tab segment category_tab_content category_tab_content_{{ category|safe }}" data-tab="{{ category|safe }}">
      <div class="ui items">
        {% for asset in assets %}
          {% if asset.category|safe == category %}
            <div class="item asset_item" onclick="handleClickAssetTemplate('{{ asset.id }}')">
              <div class="ui tiny image">
                <img src="{{ asset.thumbnail.url }}">
              </div>
              <div class="content">
                <a class="header">{{ asset.name|safe }}</a>
                <div class="meta">
                  <span>{{ asset.description|safe }}</span>
                  <span>{{ asset.id|safe }}</span>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

<style>
  .asset_content_div {
    height: calc(100% - 245px);
    overflow-y: scroll;
  }

  .asset_item {
    cursor: pointer
  }
</style>

<script>
  function hideAssetTabs(){
    $('.category_tab').hide();
    $('.category_tab_content').removeClass('active');
  }

  function showAssetTab(category){
    $('.category_tab_' + category).show();
  }

  function setActiveAssetTab(category){
    $('.category_tab_' + category).addClass('active');
    $('.category_tab_content_' + category).addClass('active');
  }
</script>