<div id="editor"> </div>

<script>

$(document).ready( function(){
	document.getElementById('loadCharacter').addEventListener('change', readCharacterFile, false);

	document.getElementById('loadPose').addEventListener('change', readPoseFile, false);

	document.getElementById('loadAsset').addEventListener('change', readAssetFile, false);

	function readCharacterFile (evt) {
		var files = evt.target.files;
		var file = files[0];
		var reader = new FileReader();
		reader.onload = function() {
			model.character.clear();
			model.loadJSONPreset(this.result);
		}
		reader.readAsText(file);
	}

	function readAssetFile (evt) {
		var files = evt.target.files;
		var file = files[0];
		var filename = file['name'];
		var match = filename.match(/\.[^/.]+$/);
		var name = filename.substring(0, match.index);
		var extension = filename.substring(match.index);
		var reader = new FileReader();

		reader.onload = function() {
			var contents = this.result;

			var geometry;
			if (extension == '.json' || extension == '.js'){
				var json = JSON.parse(contents);
				var results = new THREE.JSONLoader().parse(json);
				geometry = results['geometry'];
			} else if (extension == '.stl'){
				geometry = new THREE.STLLoader().parse(contents);
				geometry = new THREE.Geometry().fromBufferGeometry(geometry);
				geometry.rotateX(-Math.PI/2);
			} else {
				sweetAlert({
					title: '',
					html: 'Filetype $(extension) is not supported. Supported filetypes are: .js, .json, .stl'
				});
				return;
			}

			model.libraries.get('default').addMesh(name, '', 'custom', [], geometry);
			sweetAlert({
				title: '',
				html: 'Mesh "' + name + '" has been successfully loaded. <br> Look for it in the mesh library under "custom".'
			});
			var uid = view.selectedMesh.boneGroupUid;
			view.libraryClearMeshes();
			view.libraryPopulateMeshes(uid);
			view.showLibrary('mesh');
		};

		if (extension == '.json' || extension == '.js'){
			reader.readAsText(file);
		} else if (extension == '.stl'){
			reader.readAsBinaryString(file);
		}
	}

	function readPoseFile (evt) {
		var files = evt.target.files;
		var file = files[0];
		var reader = new FileReader();
		reader.onload = function() {
			model.character.loadJSONPose(this.result);
		}
		reader.readAsText(file);
	}

	showSelectDialogBox = function(title, options, inputPlaceholder, onResult){
		swal({
		 title: title,
		 input: 'select',
		 inputOptions: options,
		 animation: false,
		 inputPlaceholder: inputPlaceholder,
		 showCancelButton: true,
		 inputValidator: function (value) {
		   return new Promise(function (resolve, reject) {
			 if (value !== '') {
			   resolve()
			 } else {
			   reject('Select a value.')
			 }
		   });
		}
		}).then(onResult);
	};

	showAttachBoneGroupDialog = function(onResult){
		options = {};
		attachPoints = model.getAvailableAttachPoints();
		for (var toBoneGroupUid in attachPoints){
			var toBoneGroupName = model.character.boneGroups.get(toBoneGroupUid).name;
			for (var i in attachPoints[toBoneGroupUid]){
				attachPoint = attachPoints[toBoneGroupUid][i];
				id = toBoneGroupUid + ';' + attachPoint;
				label = toBoneGroupName + ' (' + attachPoint.substring(1) + ')';
				options[id] = label;
			}
		}

		var parseResults = function(result){
			tokens = result.split(';');
			toBoneGroupUid = tokens[0];
			attachPoint = tokens[1];
			onResult(toBoneGroupUid, attachPoint);
		};

		showSelectDialogBox('Attach Bone Group',
							options,
							'Select Attach Point',
							parseResults);
	};

	clickedRemoveBoneGroup = function(boneGroupId){
		model.removeBoneGroup(boneGroupId);
	};


	setGlobalPose = function(){
		view.showLibrary('pose');
	};

	clickedAddBoneGroup = function(){
		view.selectBoneGroup(null);
		view.showLibrary('bone');
	};

	clickedMeshTab = function(){
		view.setMode('mesh');
	};

	clickedPoseTab = function(){
		view.setMode('pose');
	};

	clickedBoneGroupsTab = function(){
		view.setMode('bone');
	};

	clickedPresetsTab = function(){
		view.setMode('preset');
	};

	clickedCharacterTab = function(){
		view.setMode('character');
	};

	// Add mesh button
	$("#body-accordion").on("click",".mini-select[add-mesh-button]", function(e){
		var boneGroupUid = $(this).data("mesh-bone-group") + "";
		var boneGroup = model.character.boneGroups.get(boneGroupUid);
		model.addMesh(boneGroupUid, boneGroup.libraryName, "box");
		view.selectedBoneGroupUid = boneGroupUid;
		view.selectMeshFuture(view.selectedBoneGroupUid, "box");

		view.libraryClearMeshes();
		view.libraryPopulateMeshes(boneGroupUid);
		view.showLibrary('mesh');
	});

	// Click meshes tab mesh - select
	$("#body-accordion").on("click",".mini-select[meshes-tab-mesh]",function(e){
		var boneGroupUid = $(this).data("mesh-bone-group") + "";
		var meshName =  $(this).data("mesh-name");
		var mesh = model.character.boneGroups.get(boneGroupUid).meshes.get(meshName);
		view.selectedBoneGroupUid = boneGroupUid;
		view.selectMesh(mesh);
		view.libraryPopulateMeshes(boneGroupUid);
		view.showLibrary('mesh');
	});

	// Double-click meshes tab mesh - delete
	$("#body-accordion").on("dblclick",".mini-select[meshes-tab-mesh]", function(e){
		var boneGroupUid = $(this).data("mesh-bone-group") + "";
		var meshName =  $(this).data("mesh-name");
		view.hideLibrary('mesh');
		model.removeMesh(boneGroupUid, meshId);
	});

	// Click library mesh
	$("#mesh-library").on("click",".mini-select[data-mesh-id]", function(e){
		var mid = $(this).data("mesh-id");
		var library = $(this).data("mesh-library");
		var meshName = $(this).data("mesh-mesh-name");
		if (view.selectedMesh == null){ // Add mesh
			model.addMesh(view.selectedBoneGroupUid, library, meshName);
			view.selectMeshFuture(view.selectedBoneGroupUid, meshName);
		} else {
			var boneGroupUid = view.selectedMesh.boneGroupUid;
			model.removeMesh(view.selectedMesh.uid);
			model.addMesh(boneGroupUid, library, meshName);
			view.selectMeshFuture(boneGroupUid, meshName);
		}
	});

	// Click library pose
	$("#pose-library").on("click",".mini-select[data-pose-id]", function(e){
		var mid = $(this).data("pose-id");
		var library = $(this).data("pose-library");
		var poseName = $(this).data("pose-pose-name");
		model.loadJSONPose(library, poseName);
	});

	// Click library bone group
	$("#bone-library").on("click",".mini-select[data-bone-id]", function(e){
		var mid = $(this).data("bone-id");
		var library = $(this).data("bone-library");
		var boneGroupName = $(this).data("bone-bone-name").replaceAll('_', ' ');
		view.hideLibrary('bone');

		showAttachBoneGroupDialog(
			function(toBoneGroupUid, attachPoint){
				view.attachBoneGroupFuture(boneGroupName, toBoneGroupUid, attachPoint);
				view.addDefaultMeshFuture(boneGroupName);
				model.addBoneGroup(library, boneGroupName);
			});
		
	});
});

/*jQuery.get('/changelog.txt', function(data) {
	var arr = data.split('\n');
	var firstLine = arr[0];
	var theRest = arr.slice(1);
	sweetAlert({
		title: firstLine,
		html: theRest.join('<br>')
	});
});*/
</script>

<!-- <div id="body-accordion-container" class="col-md-12" oncontextmenu="return false;" style="position: absolute; margin-top: 40px; margin-left: 5px; top: 0%; left: 0%;">
	<div class="btn-group" data-toggle="buttons" id="mode-options" mesh="mode-options">
	  <label class="btn btn-primary nav-link mesh-btn active">
		<input type="radio" name="options" id="option1" autocomplete="off" checked onclick="clickedMeshTab();"> Appearance
	  </label>
	  <label class="btn btn-primary pose-btn">
		<input type="radio" name="options" id="option3" autocomplete="off" onclick="clickedPoseTab();"> Pose
	  </label>
	  <label class="btn btn-primary bone-btn">
		<input type="radio" name="options" id="option2" autocomplete="off" onclick="clickedBoneGroupsTab();">  Components
	  </label>
	  <label class="btn btn-primary preset-btn">
		<input type="radio" name="options" id="option4" autocomplete="off" onclick="clickedPresetsTab();"> Presets
	  </label>
	  <label class="btn btn-primary character-btn">
		<input type="radio" name="options" id="option5" autocomplete="off" onclick="clickedCharacterTab();"> Character
	  </label>
	</div>

<div id="body-accordion-container2" class="col-md-4" oncontextmenu="return false;" style="position: absolute; margin-top: 80px; margin-left: 5px; top: 0%; left: 0%;">

	<div class="mesh-info" id="mesh-help">
		<br>
		<label id="mesh-help-label">Right-click a mesh to select it.</label>
	</div>

	<div class="mesh-info" id="mesh-info">
		<br>
		<h3><label id="mesh-info-name">Mesh Name</label></h3>
		<label id="mesh-info-blurb">(Mesh info will go here.)</label>
		<br>
		<label id="mesh-info-author">Author: (author)</label>
		<br>
		<br>
		<label>Attached to:&nbsp;</label><label id="mesh-info-attached-to">stuff</label>
		<br>
		<br>

		<span class="btn-group">
			<button class="btn btn-primary" type="button" onclick="view.onDeletePressed()">Delete Mesh</button>
		</span>
		<br>
		<br>
		<span class="btn-group">
			<button class="btn btn-primary" type="button" onclick="view.clickedAddMesh()">Add Mesh</button>
		</span>
		<br>
		<br>
		<br>
		<label for="loadAsset" class="btn btn-secondary">Load Mesh</label>
		<input id="loadAsset" style="visibility:hidden;" type="file">
	</div>

	<div class="pose-info" id="pose-info">
		<br>
		<button class="btn btn-primary" type="button" onclick="model.saveCurrentPose();">Save Pose</button>
		<br>
		<br>
		<label for="loadPose" class="btn btn-primary">Load Pose</label>
		<input id="loadPose" style="visibility:hidden;" type="file">
	</div>

	<div class="bone-info" id="bone-help">
		<br>
		<label id="bone-help-label">Right-click a bone group to select it.</label>
	</div>

	<div class="bone-info" id="bone-info">
		<br>
		<h3><label id="bone-info-name">Bone Group Name</label></h3>
		<label id="bone-info-blurb">Here's a blurb about the bone group.</label>
		<br>
		<label id="bone-info-author">Author: stuff</label>
		<br>
		<br>
		<label>Attached to:&nbsp;</label><label id="bone-info-attached-to">stuff</label
		<br>
		<br>
		<span class="btn-group">
			<button class="btn btn-primary" type="button" onclick="showAttachBoneGroupDialog(function(toBoneGroupUid, attachPoint)
					{model.attachBoneGroup(view.selectedBoneGroup.uid, toBoneGroupUid, attachPoint);});">Attach to...</button>
		</span>
		<br>
		<br>
		<span class="btn-group">
			<button class="btn btn-primary" type="button" onclick="view.onDeletePressed()">Delete</button>
		</span>
		<br>
		<br>
		<span class="btn-group">
			<button class="btn btn-primary" type="button" onclick="clickedAddBoneGroup()">Add Bone Group</button>
		</span>
	</div>

	<div class="character-info" id="character-info">
		<br>
		<button class="btn btn-secondary" type="button" onclick="model.setResolution('low');">Low Res</button>
		<br>
		<button class="btn btn-secondary" type="button" onclick="model.setResolution('medium');">Medium Res</button>
		<br>
		<button class="btn btn-secondary" type="button" onclick="model.setResolution('high');">High Res</button>
		<br>
		<br>
		<button class="btn btn-primary" type="button" onclick="model.saveCharacter();">Save Character</button>
		<br>
		<br>
		<label for="loadCharacter" class="btn btn-primary">Load Character</label>
		<input id="loadCharacter" style="visibility:hidden;" type="file">
		<br>
		<br>
		<br>
		<span class="btn-group">
			<button class="btn btn-secondary" type="button" onclick="view.exportToSTL();">Export to .STL file</button>
		</span>
		<br>
	</div>

	<div class="preset-info" id="preset-info">
		<br>
		<span class="btn-group">
			<button class="btn btn-secondary" type="button" onclick="model.character.clear(); model.loadPreset('default', 'human male');">Human Male</button>
		</span>
		<br>
		<br>
		<span class="btn-group">
			<button class="btn btn-secondary" type="button" onclick="model.character.clear(); model.loadPreset('default', 'human female');">Human Female</button>
		</span>
		<br>
		<br>
		<label>Warning: Loading a preset will reset your character!</label>
	</div>
</div>




<div id="mesh-library" class="col-md-3" role="tablist" aria-multiselectable="true">
	<h2 class="text-white"> Mesh Library </h2>
</div>
<div id="pose-library" class="col-md-3" role="tablist" aria-multiselectable="true">
	<h2 class="text-white"> Pose Library </h2>
</div>
<div id="bone-library" class="col-md-3" role="tablist" aria-multiselectable="true">
	<h2 class="text-white"> Bone Group Library </h2>
</div> -->

<!--Feature Specific Scripts (be sure they load after the js in the footer with document.ready-->
<script src="/static/threejs/build/three.js"></script>
<script src="/static/threejs/external/OrbitControls.js"></script>
<script src="/static/threejs/external/STLExporter.js"></script>
<script src="/static/threejs/examples/js/loaders/STLLoader.js"></script>

<script src="/static/editor/js/Editor.js"></script>
<script src="/static/editor/js/UserSettings.js"></script>
<script src="/static/editor/js/LocalDataSource.js"></script>
<script src="/static/editor/js/SceneModel.js"></script>
<script src="/static/editor/js/SceneView.js"></script>
<script src="/static/editor/js/Character.js"></script>
<script src="/static/editor/js/BoneGroup.js"></script>
<script src="/static/editor/js/Pose.js"></script>
<script src="/static/editor/js/Materials.js"></script>
<script src="/static/editor/js/PickingView.js"></script>
<script src="/static/editor/js/Event.js"></script>
<script src="/static/editor/js/ObservableDict.js"></script>
<script src="/static/editor/js/ObservableList.js"></script>
<script src="/static/editor/js/FileSaver.js"></script>
<script src="/static/editor/js/Global.js"></script>

<script src="/static/sweetalert2/js/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/static/sweetalert2/css/sweetalert2.min.css">
