<link rel="stylesheet" type="text/css" href="/static/semantic-ui/semantic.min.css">
<script src="/static/jquery-3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/semantic-ui/semantic.min.js"></script>
<script src="/static/threejs/build/three.js"></script>
<script src="/static/threejs/external/OrbitControls.js"></script>
<script src="/static/threejs/external/STLExporter.js"></script>
<script src="/static/threejs/examples/js/loaders/STLLoader.js"></script>
<script src="/static/threejs/examples/js/loaders/OBJLoader.js"></script>

<script src="/static/editor/js/Uuid.js"></script>
<script src="/static/editor/js/UserSettings.js"></script>
<script src="/static/editor/js/LocalDataSource.js"></script>
<script src="/static/editor/js/SceneView.js"></script>
<script src="/static/editor/js/Character.js"></script>
<script src="/static/editor/js/BoneGroup.js"></script>
<script src="/static/editor/js/BoneGroupTemplate.js"></script>
<script src="/static/editor/js/AssetTemplate.js"></script>
<script src="/static/editor/js/Asset.js"></script>
<script src="/static/editor/js/Preset.js"></script>
<script src="/static/editor/js/Pose.js"></script>
<script src="/static/editor/js/PoseTemplate.js"></script>
<script src="/static/editor/js/Materials.js"></script>
<script src="/static/editor/js/PickingView.js"></script>
<script src="/static/editor/js/PosePickingView.js"></script>
<script src="/static/editor/js/Event.js"></script>
<script src="/static/editor/js/ObservableDict.js"></script>
<script src="/static/editor/js/ObservableList.js"></script>
<script src="/static/editor/js/FileSaver.js"></script>
<script src="/static/editor/js/Global.js"></script>

<div id="main_panel">
  <div id="navigator_panel">
    <a href="/accounts/logout" class="navigator_button">Logout</a>
    <a href="/resources/contribute" class="navigator_button">Contribute</a>
    <a href="/editor" class="navigator_button">Editor</a>
  </div>
  <div id="editor_panel">
    <div id="modes_panel" class="ui vertical menu inverted">
      <a class="item menu_header">Appearance</a>
      {% for category in simple_mode_categories %}
        <small><a class="item" id="{{ category.name_safe }}_selector" data-tab="{{ category.asset_category }}" onclick="menuHandleClickCategory('{{ category.bone_instance_id|safe }}', '{{ category.name_safe }}'); handleModeClick('appearance');">{{ category.display_name }}</a></small>
      {% endfor %}
      <small><a class="item" onclick="showSelectComponentsModal(); handleModeClick('appearance');"><u>More...</u></a></small>
      <!-- <a class="item disabled" data-tab="components">Components</a> -->
      <a class="item menu_header" data-tab="pose" onclick="handleModeClick('pose');">Pose</a>
      <a class="item menu_header" data-tab="preset" onclick="handleModeClick('preset');">Presets</a>
      <a class="item menu_header" data-tab="character" onclick="handleModeClick('character');">Character</a>
    </div>
    <div id="download_button">
      <div id="download_dropdown" class="ui dropdown">
        <i class="download icon"></i>
        <div id="download_menu" class="menu">
          <div class="item">
            <div class="text" onclick="exportToSTL();">Download as STL</div>
          </div>
          <div class="item">
            <div class="text" onclick="saveCharacterFile();">Download as DesktopHero Character file</div>
          </div>
        </div>
      </div>
    </div>
    <div id="settings_button">
      <div id="settings_dropdown" class="ui dropdown">
        <i class="setting icon"></i>
        <div id="settings_menu" class="menu">
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Resolution</span>
            <div id="settings_menu"  class="menu">
              <div class="item active">
                <div class="text" onclick="setResolution('low');">Low (fastest)</div>
              </div>
              <div class="item">
                <div class="text" onclick="setResolution('medium');">Medium</div>
              </div>
              <div class="item">
                <div class="text" onclick="setResolution('high');">High (best quality)</div>
              </div>
            </div>
          </div>
          <!-- others here -->
          <!-- <div class="item">
            <div class="text" onclick="saveCharacterFile();">Download as DesktopHero Character file</div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar">
    {% include "asset_pane.html" %}
    <div class="ui attached tab segment no_padding" data-tab="components">
      <!-- {% include "bone_group_pane.html" %} -->
    </div>
    <div class="ui attached tab segment no_padding" data-tab="pose">
      <div id="pose_instructions">
        <h4>Pose Instructions</h4>
        <p>Right click a bone to select it.
          <li><b>Rotate:</b> &nbsp;R <small>&nbsp;(+X|Y|Z to rotate along an axis)</small></li>
          <li><b>Scale:</b> &nbsp;S <small>&nbsp;(+X|Y|Z to scale along an axis)</small></li>
          <li><b>Move:</b> &nbsp;G + X|Y|Z</li>
        </p>
      </div>
      <div id="pose_buttons">
        <button class="tiny ui button floating_button" onclick="handleClickExportPose();">Export Pose</button>
        <label for="load_pose_button" class="tiny ui button floating_button">Load Pose</label>
        <input id="load_pose_button" style="visibility:hidden;" type="file">
      </div>
      {% include "pose_pane.html" %}
    </div>
    <div class="ui attached tab segment no_padding" data-tab="character">
      <div id="character_buttons">
        <button class="tiny ui button floating_button" onclick="saveCharacterFile();">Export Character</button>
        <label for="load_character_button" class="tiny ui button floating_button">Load Character</label>
        <input id="load_character_button" style="visibility:hidden;" type="file">
      </div>
    </div>
    <div class="ui attached tab segment no_padding" data-tab="preset">
      {% include "preset_pane.html" %}
    </div>
    <!-- <div id="info_panel">
      <div id="selected_bone_group_info">
        <div id="ui tiny image">
        </div>
        <div class="content">
          <a id="name" class="header"></a>
          <div class="meta">
            <span id="description"></span>
            <div class="text">Attach To...</div>
            <div id="attach_dropdown" class="ui dropdown button">
              <div class="text">Attach</div>
              <i class="dropdown icon"></i>
              <div id="attach_menu" class="menu">
                <div id="attach_template_item" class="item">
                  <div class="text">Template</div>
                  <div class="menu"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div id="copyright_notice">
    <span>Copyright © 2017 Andrew Stockton. Your use of this website constitutes acceptance of the <a class="link_dark" href="/terms_of_service" target="_blank">Terms of Service</a> and <a class="link_dark" href="/privacy_policy" target="_blank">Privacy Policy</a>.</span>
  </div>

  <div class="ui modal" id="select_components_modal">
    <i class="close icon"></i>
    <div class="header">
      Select Components
    </div>
    <div class="content" id="select_components_checkboxes">
      {% for category in simple_mode_categories %}
        <p>
          <div class="ui checkbox" name="{{ category.name_safe }}">
            <input id="{{ category.name_safe }}_checkbox" type="checkbox">
            <label for="{{ category.name_safe }}_checkbox">{{ category.display_name|title }}</label>
          </div>
        </p>
      {% endfor %}
      
    </div>
    <div class="actions">
      <div class="ui cancel button">Cancel</div>
      <div class="ui approve button">OK</div>
    </div>
  </div>
</div>

<script>
  $(document).ready( function(){
    $('.menu .item').tab();

    $('#attach_dropdown').dropdown({
      onChange: function (val) {
        args = val.split("#__#");
        menuHandleSelectAttachPoint(args[0], args[1]);
      }
    });

    $('#download_dropdown').dropdown();
    $('#settings_dropdown').dropdown();

    {% for category in simple_mode_categories %}
      setCategoryVisible("{{ category.name_safe|safe }}", false);
    {% endfor %}
  });

  function menuHandleClickCategory(boneGroupInstanceId, category){
    boneGroup = boneGroups.get(boneGroupInstanceId);
    for (var assetUid in boneGroup.assets.dict){
      var asset = getAsset(assetUid)[1];

      if ((asset.overrideCategory && asset.overrideCategory_safe == category) ||
          asset.template.category_safe == category){
        selectAsset(asset);
        return;
      }
    }
  }

  function menuHandleSelectAttachPoint(boneGroupUid, attachPointName){
    var boneGroup = boneGroups.get(boneGroupUid);
    selectedBoneGroup.attachToBone(boneGroupUid, boneGroup.template.name, boneGroup.attachPoints[attachPointName]);
  }

  function menuSelectBoneGroup(boneGroup){
    // var panel = $('#selected_bone_group_info');
    // panel.find('img').attr('src', boneGroup.template.thumbnailUrl);
    // panel.find('#name').text(boneGroup.template.name);
    // panel.find('#description').text(boneGroup.template.description);
  }

  // function addBoneToMenu(boneGroup){
  //   var menuItem = $('<a>', 
  //                    {"class": "item",
  //                     "data-tab": boneGroup.template.name,
  //                     "text": boneGroup.template.name
  //                     });

  //   // <small><a class="item" data-tab="{{ component.bone.name }}">{{ component.bone.name}}</a></small>
  //   $("#modes_panel").append(menuItem)
  // }

  function addBoneToAttachMenu(boneGroup){
    var boneGroupName = boneGroup.template.name;
    var boneGroupUid = boneGroup.uid;
    var submenu = $("#attach_template_item").clone();
    submenu.find('.text').text(boneGroupName);
    //submenu.find('.text').append($('<i class="dropdown icon"/>'))

    for (var attachPointName in boneGroup.attachPoints){
      var displayName = attachPointName.substring(1);
      var menuItem = $('<div>', 
                       {"class": "item",
                        "text": displayName,
                        "data-value": [boneGroupUid, attachPointName].join('#__#')
                        });
      submenu.find('.menu').append(menuItem);
    }
    submenu.addClass();
    $('#attach_menu').append(submenu);
  }

  function menuOnBoneGroupAdded(source, boneGroupUid){
    var boneGroup = boneGroups.get(boneGroupUid);
    //addBoneToMenu(boneGroup);
    addBoneToAttachMenu(boneGroup);
  }

  function initializeMenus(){
    boneGroups.itemAddedEvent.addListener(this, menuOnBoneGroupAdded);
    /*boneGroups.itemRemovedEvent.addListener(this, onBoneGroupRemoved);*/
  }

  function handleClickExportPose(){
    var jsonString = Pose.toJson(Pose.toPose(boneGroups));
    var poseName = 'New Pose';
    FileSaver.download(jsonString, poseName + ".dhp");
  }

  function handleClickLoadPose(evt){
    var files = evt.target.files;
    var file = files[0];
    var reader = new FileReader();
    reader.onload = function() {
      Pose.loadPose(JSON.parse(this.result), boneGroups);
    
      setTimeout(
        function(){
          posePickingView.update();
          requestRender();
        }, 500);
    }
    reader.readAsText(file);
  }

  function handleClickLoadCharacter(evt){
    var files = evt.target.files;
    var file = files[0];
    var reader = new FileReader();
    reader.onload = function() {
      clear();
      preset = JSON.parse(this.result);
      presetLoadBoneGroups(preset);
    }
    reader.readAsText(file);
  }

  function categoryVisible(category){
    var checkbox_id = category + "_checkbox";
    var box = $('#' + checkbox_id)[0]
    if (box){
      return box.checked;
    } else {
      console.log("Couldn't find " + checkbox_id + ".");
    }
    return false;
  }

  function setCategoryVisible(category, visible){
    var selector_tab_id = category + "_selector";

    if (visible){
      $('#' + selector_tab_id).show();
    } else {
      $('#' + selector_tab_id).hide();
    }

    var checkbox_id = category + "_checkbox";
    var box = $('#' + checkbox_id)[0]
    if (box){
      box.checked = visible;
    } else {
      console.log("Couldn't find " + checkbox_id + ".");
    }

    var asset = getAssetByCategory(category);
    if (asset){
      asset.mesh.visible = visible;
    }

    view.requestRender();
  }

  function showSelectComponentsModal(){
    $('#select_components_modal')
      .modal({
        onDeny: function(){},
        onApprove: function(){
          $('#select_components_checkboxes').find('input')
            .each(function(index, element){
              // replace "_checkbox" with "_selector" to get selector tab id to hide or show
              var category = element.id.substring(0, element.id.length - "_checkbox".length);
              setCategoryVisible(category, element.checked);
            });
        }
      })
      .modal('show');
  }

  document.getElementById('load_pose_button').addEventListener('change', handleClickLoadPose, false);
  document.getElementById('load_character_button').addEventListener('change', handleClickLoadCharacter, false);

</script>

{% include "editor.html" %}

<style>
:root {
  --navigator_panel_height: 30px;
  --sidebar_width: 400px;
}

.tab-header {
}
.ui.attached.segment.no_padding {
    padding: 0;
}

.menu_header {
  color: white !important;
  font-weight: bold !important;
}

#modes_panel {
  width: 120px;
  top: 40px;
  right: var(--sidebar_width);
  position: absolute;
}
#copyright_notice {
  bottom: 5px;
  right: calc(var(--sidebar_width) + 20px);
  position: absolute;
  font-size: .8em;
  color: #303030;
}
.link_dark {
  color: #303030;
}

#download_button {
  bottom: 20px;
  right: calc(var(--sidebar_width) + 70px);
  position: absolute;
  font-size: 3em;
}
#download_button:hover {
  color: #606060;
}
#settings_button {
  bottom: 20px;
  right: calc(var(--sidebar_width) + 20px);
  position: absolute;
  font-size: 3em;
}
#settings_button:hover {
  color: #606060;
}

#sidebar {
  background: black;
  float: right;
  min-width: var(--sidebar_width);
  max-width: var(--sidebar_width);
  margin-top: var(--navigator_panel_height);
  height: calc(100% - var(--navigator_panel_height));
}
#editor_panel {
  margin-top: var(--navigator_panel_height);
  width: 100%;
  height: calc(100% - var(--navigator_panel_height));
  border: 1px solid black;
  overflow: hidden;
}
#main_panel {
  display: flex;
}
#info_panel {
  height: 200px;
  background: purple;
}
#navigator_panel {
  position: absolute;
  height: var(--navigator_panel_height);
  width: 100%;
  background: black;
}

.navigator_button {
  margin-top: 4px;
  margin-right: 50px;
  float: right;
  color: white;
  font-weight: bold;
}

#pose_instructions {
  position: fixed;
  top: 50px;
  left: 50px;
  pointer-events: none;
}

#pose_buttons {
  display: grid;
  position: fixed;
  bottom: 50px;
  left: 50px;
}

#character_buttons {
  display: grid;
  position: fixed;
  bottom: 50px;
  left: 50px;
}

.floating_button {
  margin: 4px;
  width: 130px;
}
</style>