<div class="pose_content_div ui items">
  <!-- <div class="item pose_item official" onclick="handleClickPoseItem(null);">
    <div class="ui tiny image">
      <img src="https://s3-us-west-1.amazonaws.com/desktophero/thumbnails/none.jpg">
    </div>
    <div class="content">
      <a class="header">None</a>
      <div class="meta">
        <p></p>
        <p><b>Author: </b></p>
      </div>
      <div class="extra">
        <p><b>License: </b></p>
      </div>
    </div>
  </div> -->
  {% for pose in poses %}
    <div class="item pose_item" onclick="handleClickPoseItem('{{ pose.id }}');">
      <div class="ui tiny image">
        <img src="{{ pose.thumbnail.url }}">
      </div>
      <div class="content">
        <a class="header">{{ pose.name|safe|title }}</a>
        <div class="meta">
          <p>{{ pose.description|safe }}</p>
          <p><b>Author: </b>{{ pose.author|safe }}</p>
          <!-- {{ pose.id|safe }} -->
        </div>
        <div class="extra">
          <p><b>License: </b>{{ pose.license|safe }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<style>
  .pose_content_div {
    height: calc(100% - 45px);
    overflow-y: scroll;
    padding: 15px;
  }

  .pose_item {
    cursor: pointer;
    padding: 5px !important;
  }
</style>
