<div class="preset_content_div ui items">
  {% for preset in presets %}
    <div class="item preset_item" onclick="handleClickPreset('{{ preset.id }}')">
      <div class="ui tiny image">
        <img src="{{ preset.thumbnail.url }}">
      </div>
      <div class="content">
        <a class="header">{{ preset.name|safe|title }}</a>
        <div class="meta">
          <span>{{ preset.description|safe }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script>
  {% for preset in presets %}
    console.log("{{ preset.thumbnail.url }}");
  {% endfor %}
</script>

<style>
  .preset_content_div {
    height: calc(100% - 45px);
    overflow-y: scroll;
    padding: 15px;
  }

  .preset_item {
    cursor: pointer;
    padding: 5px !important;
  }
</style>
