<title>Contribute</title>

<script src="/static/jquery-3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/semantic-ui/semantic.min.css">
<script src="/static/semantic-ui/semantic.min.js"></script>

<div id="main_panel">
	<a href="/editor">Back to Editor</a>
	<h1 class="ui header">Contribute</h1>
	<p>Contribute resources to DesktopHero.</p>

	<div id="form_panel">
		<div class="ui top attached tabular menu">
		  <div class="active item" data-tab="asset">Asset</div>
		  <div class="item" data-tab="bone_group">Component</div>
		  <div class="item" data-tab="pose">Pose</div>
		  <!-- <div class="item" data-tab="preset">Preset</div> -->
		</div>
		<div class="ui bottom attached active tab segment" data-tab="asset">
		  <h2 class="ui header">Submit an Asset</h2>
		  <p>Uploading assets has changed, use <a href="/resources/contribute/upload_asset">the new uploader</a>.</p>
			<!-- <form method="post" action="/resources/assets/submit" enctype="multipart/form-data" class="ui form">
				{% csrf_token %}
			    <h4 class="ui dividing header">Account</h4>
			    <div class="field">
			    	<label>Asset Name</label>
					<div class="field">
						{{asset_form.name}}
					</div>
					{% for error in asset_form.name.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>Description</label>
					<div class="field">
						{{asset_form.description}}
					</div>
					{% for error in asset_form.description.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>Category</label>
					<div class="field">
						{{asset_form.category}}
						<small style="color: grey">{{ asset_form.category.help_text|safe }}</small>
					</div>
					{% for error in asset_form.category.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>License</label>
					<div class="field">
						{{asset_form.license}}
						<small style="color: grey">{{ asset_form.license.help_text|safe }}</small>
					</div>
					{% for error in asset_form.license.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>Thumbnail Image</label>
					<div class="field">
						{{asset_form.thumbnail}}
					</div>
					{% for error in asset_form.thumbnail.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>Mesh File (Medium Resolution)</label>
					<div class="field">
						{{asset_form.mesh}}
					</div>
					{% for error in asset_form.mesh.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>Mesh File (High Resolution)</label>
					<div class="field">
						{{asset_form.mesh_hires}}
					</div>
					{% for error in asset_form.mesh_hires.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>Mesh File (Low Resolution)</label>
					<div class="field">
						{{asset_form.mesh_lowres}}
					</div>
					{% for error in asset_form.mesh_lowres.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}
			    </div>
				<input type="submit" value="Submit">
			</form> -->
		</div>
		<div class="ui bottom attached tab segment" data-tab="bone_group">
		  <h2 class="ui header">Submit a Component</h2>
			<form method="post" action="/resources/bone_groups/submit" enctype="multipart/form-data" class="ui form">
				{{bone_group_form}}
				<input disabled type="submit" value="Submit">
			</form>
		</div>
		<div class="ui bottom attached tab segment" data-tab="pose">
		  <h2 class="ui header">Submit a Pose</h2>
			<form method="post" action="/resources/poses/submit" enctype="multipart/form-data" class="ui form">
				{% csrf_token %}
			    <h4 class="ui dividing header">Account</h4>
			    <div class="field">
			    	<label>Pose Name</label>
					<div class="field">
						{{pose_form.name}}
					</div>
					{% for error in pose_form.name.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>Description</label>
					<div class="field">
						{{pose_form.description}}
					</div>
					{% for error in pose_form.description.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <!-- <label>Category</label>
					<div class="field">
						{{pose_form.category}}
						<small style="color: grey">{{ pose_form.category.help_text|safe }}</small>
					</div>
					{% for error in pose_form.category.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %} -->

			        <label>License</label>
					<div class="field">
						{{pose_form.license}}
						<small style="color: grey">{{ pose_form.license.help_text|safe }}</small>
					</div>
					{% for error in pose_form.license.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>Thumbnail Image</label>
					<div class="field">
						{{pose_form.thumbnail}}
					</div>
					{% for error in pose_form.thumbnail.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}

			        <label>Pose File</label>
					<div class="field">
						{{pose_form.file}}
					</div>
					{% for error in pose_form.mesh.errors %}
			          <p style="color: red">{{ error|safe }}</p>
			        {% endfor %}
			    </div>
				<input type="submit" value="Submit">
			</form>
		</div>
		<div class="ui bottom attached tab segment" data-tab="preset">
		  <h2 class="ui header">Submit a Preset</h2>
			<form method="post" enctype="multipart/form-data" class="ui form">
				{{preset_form}}
				<input disabled type="submit" action="/resources/presets/submit" value="Submit">
			</form>
		</div>
	</div>
</div>

<style>
#main_panel {
	padding: 20px;
}

#form_panel {
	width: 500px;
}
</style>

<script type="text/javascript">
	$('.tabular.menu .item').tab();
	$('input[type="submit"]').addClass('ui button');
	console.log("HEY");
	console.log("{{preset_form.blicense}}");
</script>